<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="youngun.tis.qna.dao.mapper.PostMapper">
	<select id="getPosts" parameterType="page" resultMap="postMap">
		<![CDATA[
			select*from(
		    	select rownum as rnum, x.*from(
		    		select * from qna_notices
		    		order by qna_num desc
		     )x where rownum <= #{rowCnt}*#{currentPage}
		    )where rnum > #{rowCnt}*(#{currentPage}-1)
		]]>
	</select>
	<!-- <select id="getPosts" resultType="post">
		select post_no postNo, title, content from posts
	</select> -->
	
	<select id="getContent" parameterType="int" resultType="string">
	 select qna_content
	 from qna_notices
	 where qna_num=#{postNo}
	</select>
	
	<select id="getTitle" parameterType="int" resultType="string">
	 select qna_title
	 from qna_notices
	 where qna_num=#{postNo}
	</select>
	
	<insert id="write" parameterType="post">
	 insert into qna_notices
	 values(qna_num_seq.nextval, 5, #{title}, #{content}, sysdate , #{openCheck},#{qnaImg},0)
	</insert>
	
	<update id="updateBoard" parameterType="post">
		update qna_notices
		set qna_title=#{title}, qna_content=#{content}, open_check=#{openCheck}
		where qna_num=#{postNo}
	</update>
	
	<update id="updateCnt" parameterType="int">
		update qna_notices
		set qna_hits= qna_hits + 1
		where qna_num=#{postNo}
	</update>
	
	<delete id="delBoard" parameterType="int">
		delete qna_notices
		where qna_num=#{postNo}
	</delete>
	
	<resultMap id="postMap" type="post">
		<id property="postNo" column="qna_num"/>
		<result property="title" column="qna_title"/>
		<result property="content" column="qna_content"/>
		<result property="writer" column="member_num"/>
		<result property="regDate" column="qna_date"/>
		<result property="viewCnt" column="qna_hits"/>
		<result property="qnaImg" column="qna_img"/>
		<result property="openCheck" column="open_check"/>
	</resultMap>
</mapper>