<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="youngun.tis.review.dao.mapper.PostMapper">
	<select id="getPosts" parameterType="page" resultMap="postMap">
		<![CDATA[
			select*from(
		    	select rownum as rnum, x.*from(
		    		select * from review_notices
		    		order by review_num desc
		     )x where rownum <= #{rowCnt}*#{currentPage}5
		    )where rnum > #{rowCnt}*(#{currentPage}-1)
		]]>
	</select>
	<!-- <select id="getPosts" resultType="post">
		select post_no postNo, title, content from posts
	</select> -->
	
	<!-- <select id="getPost" parameterType="int" resultType="post">
	 select post_no postNo, title, content
	 from posts
	 where post_no=#{postNo}
	</select>
	
	<insert id="write" parameterType="post">
	 insert into review_notices
	 values(postno_seq.nextval, #{title}, #{content}, #{writer}, sysdate , 0)
	</insert>
	
	<update id="updateBoard" parameterType="post">
		update posts
		set title=#{title}, content=#{content}
		where post_No=#{postNo}
	</update>
	
	<delete id="delBoard" parameterType="int">
		delete posts
		where post_no=#{postNo}
	</delete> -->
	
	<resultMap id="postMap" type="post">
		<id property="postNo" column="review_num"/>
		<result property="title" column="review_title"/>
		<result property="content" column="review_content"/>
		<result property="writer" column="member_num"/>
		<result property="regDate" column="review_date"/>
		<result property="viewCnt" column="review_hits"/>
	</resultMap>
</mapper>