<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="youngun.tis.mypage.dao.mapper.ProfileMapper">
	<resultMap id="userMap" type="profile">
		<id property="memberNum" column="member_num" /> <!-- id는 프라이머리키  -->
		<result property="userName" column="user_name"/>
		<result property="userId" column="user_id"/>
		<result property="password" column="pw"/>
		<result property="email" column="email"/>
		<result property="PH" column="phone_num"/>
		<result property="nickName" column="nickname"/>
		<result property="profileImg" column="profile_img"/>
	</resultMap>
	
	
	<select id="getUser" parameterType="String" resultMap="userMap">
		select user_id userId, user_name userName, pw password, email, phone_num PH, nickname nickName, profile_img profileImg
		from members
		where user_id = #{userId}
	</select>
</mapper>