<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="youngun.tis.user.admin.dao.mapper.FunctionMapper">
	<update id="updateUser">
		update members
		set grade_num = #{gradeNum}
		where user_id = #{userId}
	</update>
	
	<insert id="insertBlackUser" parameterType="user">
		insert into blacklist(blacklist_num, grade_num, member_num, black_reason)
		values(blacklist_seq.nextval, #{gradeNum}, #{memberNum}, #{blackReason})
	</insert>
	
	
</mapper>