<style type="text/css">
    
*{margin:0; padding:0;} li{list-style-type:none;}
.adminMenu {margin-left: 0px; margin-top: 92px; position: fixed;}
#gnb {width:1400px; height:60px; padding-left:23px;  }
/*바깥 쪽 
  여긴 안 쪽*/
#gnb li {display:inline;}
#gnb li a { float:left; width:250px; height:60px; text-align:center; 
			border-top:16px solid #000000;margin-right:25px; background:#ffffff;
			color:#000; text-decoration:none; }
#gnb li a:hover {background:#ffffff; color:#4d4d4d; border-radius: 15px;}
#gnb li a span {display:block;}
/*<--------------------------------1 munu----------------------------------->*/
    

*{margin:0; padding:0;} li{list-style-type:none;}
#gnb2 {width:350px; height:30px; padding-left:20px; background:#cccccc; }
<!-- 바깥 쪽 -->
<!-- 여긴 안 쪽-->
#gnb2 li {float:left;}
#gnb2 li a {float:left; width:90px; height:30px; text-align:center;
			border-top:10px solid #000000;margin-right:20px; background:#ffffff;
			color:#000; font-size: 16px; text-decoration:none; }
#gnb2 li a:hover {background:#ffffff; color:#4d4d4d;}
#gnb2 li a span {display:block;}
/*<!-- ------------------------------2 menu--------------------------------- -->*/
    
    
*{margin:0; padding:0;} li{list-style-type:none;}
#gnb3 {width:1100px; height:30px; padding-left:33px; background:#cccccc; }
<!-- 바깥 쪽 -->
<!-- 여긴 안 쪽-->
#gnb3 li {float:left; }
#gnb3 li a {float:left; width:130px; height:30px; text-align:center;
			border-top:10px solid #000000;margin-right:20px; background:#ffffff;
			color:#000; font-size: 16px; text-decoration:none; }
#gnb3 li a:hover {background:#ffffff; color:#4d4d4d;}
#gnb3 li a span {display:block;}
/*<!-- ------------------------------4 menu--------------------------------- -->*/
    
    
*{margin:0; padding:0;} li{list-style-type:none;}
#gnb4 {width:900px; height:40px; padding-left:35px; background:#000; margin-left: 0px; }
/*<--! 바깥 쪽 -->
<--! 여긴 안 쪽-->*/
#gnb4 li {float:left;}
#gnb4 li a {float:left; width:150px; height:30px; text-align:center;
			margin-right:20px; background:#ffffff;
			color:#000; font-size: 30px; text-decoration:none; }
#gnb4 li a:hover {background:#ccc; color:#fff;}
#gnb4 li a span {display:block;}
/*<!-- ------------------------------4 menu--------------------------------- -->*/










div.admin{      
        border: 1px solid black;
        text-align:center;
            
    }
/*<!-- ------------------------------전체 사이즈--------------------------------- -->*/
    .main{
            width: 1400px;
            height: 960px;
            margin-left: 0px;
            margin-top: 200px;
            
         }
/*<!-- ------------------------------위 3개 사이즈--------------------------------- -->*/
    .mainA{
            width: 1200px;
             height: 327px;
            margin-left: 100px;
            margin-top: 0px;
            color: #000;
        }
/*<!-- ------------------------------첫번째--------------------------------- -->*/
    .mainA1{
            
            width: 350px;
            margin-left: 0px;
            float: left;
            text-align:center;
            background: #ccc;
            
         
        }
/*<!-- ------------------------------두번째--------------------------------- -->*/
    .mainA2{
            width: 350px;
            margin-left: 75px;
            float: left;
            text-align:center;
            background: #ccc;
        
        }
/*<!-- ------------------------------세번째--------------------------------- -->*/
    .mainA3{
            width: 350px;
            margin-left: 75px;
            float: left;
            text-align:center;
            background: #ccc;
        
        }
/*<!-- ------------------------------각 안쪽--------------------------------- -->*/
    .mainAa1{
            text-align:left;
            font:20px "굴림", Gulim;
            width: 330px;
            height: 150px;
            margin-left: 10px;
            float: left;
            background: #fff;
         }
/*<!-- ------------------------------안 쪽 데이터--------------------------------- -->*/
    .memberDataAdate{
            text-align:center;
            width: 110px;
            height: 20px;
            margin-left: 0px;
            float: left;
            background: #fff;
         }
    .memberDataAid{
            text-align:center;
            width: 110px;
            height: 20px;
            margin-left: 0px;
            float: left;
            background: #fff;
         }
    .memberDataAname{
            text-align:center;
            width: 110px;
            height: 20px;
            margin-left: 0px;
            float: left;
            background: #fff;
          
         }
 /*<!-- ------------------------------더보기 버튼--------------------------------- -->*/   
    .mainAbutton{
            color: #000;
            text-align: center;
            width: 60px;
            margin-left: 280px;
            margin-top: 20px; 
            margin-bottom: 20px;
            float:left;
            background: #ccc;
		}
    .mainAbutton a{
            color: #000;
            font-size: 20px;
            text-decoration: none;
    
        }
/*<!-- ------------------------------밑 사이즈--------------------------------- -->*/    
    .mainB{
            width: 1200px;
            margin-left: 100px;
            margin-top: 20px;
            float: left;
            text-align:center;
            color: #000;
            background: #ccc;
        }
/*<!-- ------------------------------밑 검색--------------------------------- -->*/   
    .mainSerch{
        width: 300px;
        height: 40px;
        margin-left: 440px;
        float: left;
        background: #fff;
        border-radius: 20px;
     }
    .mainSerch1{
        width: 70px;
        height: 21px;
        margin-left: 9px;
        margin-top: 10px;
        float: left;
        background: #fff;
      
        
    }
    .mainSerch2{
        width: 175px;
        height: 20px;
        margin-left: 0px;
        margin-top: 10px;
        float: left;
        background: #fff;
        
        
    }
    .mainSerch3{
        width: 31px;
        height: 29px;
        margin-left: 0px;
        margin-top: 5px;
        float: left;
        
    }
    #member_button{
        background-image: url(../img/trip/button.png);
        margin-top : 10px;
        width: 29px;
        height: 28px;
        background-color: #fff;
    }
/*<!-- ------------------------------밑 메뉴들--------------------------------- -->*/ 
    .mainBb{
            width: 1120px;
            height: 40px;
            margin-left: 48px;
            margin-top: 20px;
            float: left;
         
        }
/*<!-- ------------------------------밑 데이터 공간--------------------------------- -->*/   
    .mainB2{
            text-align:left;
            font:18px "굴림", Gulim;
            width: 1030px;
            margin-left: 82px;
            margin-top: 20px;
            float: left;
            background: #fff;
    }
/*<!-- ------------------------------밑 데이터 --------------------------------- -->*/   
    .memberDataBcheck{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 20px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberDataBid{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 97px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberDataBname{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 185px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberDataBjoindate{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 120px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberDataBvisitdate{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 177px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberDataBwhite{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 127px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberDataBcoment{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 165px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberDataBvisitcount{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 139px;
            height: 20px;
            float: left;
            background: #fff;
    }
/*<!-- ------------------------------밑 페이지, 더보기--------------------------------- -->*/   
    .memberNum{
        text-align:center;
        width: 1200px;
        height: 20px;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        float: left;
    }
    .memberNumin{
        text-align:center;
        width: 800px;
        height: 20px;
        margin-left: 210px;
        float: left;
    }
    .memberNum a{
        color: #000;
        font-size: 20px;
    
     }
    .mainBbutton{
        color: #000;
        text-align: right;
        width: 60px;
        height: 25px;
        margin-left: 37px;
        float:left;
        }
    .mainBbutton a{
         color: #000;
        font-size: 20px;
        text-decoration: none;
    }
/*<!-- ------------------------------맨 밑 기능--------------------------------- -->*/   
    .mainBoption{
        text-align:left;
        width: 900px;
        margin-left: 259px;
        margin-top: 20px;
        float: left;
     }
  
 

    .clear{
            display: none;
            clear: both;
    }
</style>