<style type="text/css">
    
*{margin:0; padding:0;} li{list-style-type:none;}
.adminMenu {margin-left: 0px; margin-top: 92px; position: fixed;}
#gnb {width:1400px; height:60px; padding-left:23px;  }
/*바깥 쪽 
  여긴 안 쪽*/
#gnb li {display:inline;}
#gnb li a { float:left; width:250px; height:60px; text-align:center; 
			border-top:16px solid #000000;margin-right:25px; background:#ffffff;
			color:#000; text-decoration:none; }
#gnb li a:hover {background:#ffffff; color:#4d4d4d; border-radius: 15px;}
#gnb li a span {display:block;}
/*<--------------------------------1 munu----------------------------------->*/
    

*{margin:0; padding:0;} li{list-style-type:none;}
#gnb2 {width:350px; height:30px; padding-left:20px; background:#cccccc; }
<!-- 바깥 쪽 -->
<!-- 여긴 안 쪽-->
#gnb2 li {float:left;}
#gnb2 li a {float:left; width:90px; height:30px; text-align:center;
			border-top:10px solid #000000;margin-right:20px; background:#ffffff;
			color:#000; font-size: 16px; text-decoration:none; }
#gnb2 li a:hover {background:#ffffff; color:#4d4d4d;}
#gnb2 li a span {display:block;}
/*<!-- ------------------------------2 menu--------------------------------- -->*/
    
    
*{margin:0; padding:0;} li{list-style-type:none;}
#gnb3 {width:1100px; height:30px; padding-left:33px; background:#cccccc; }
<!-- 바깥 쪽 -->
<!-- 여긴 안 쪽-->
#gnb3 li {float:left; }
#gnb3 li a {float:left; width:130px; height:30px; text-align:center;
			border-top:10px solid #000000;margin-right:20px; background:#ffffff;
			color:#000; font-size: 16px; text-decoration:none; }
#gnb3 li a:hover {background:#ffffff; color:#4d4d4d;}
#gnb3 li a span {display:block;}
/*<!-- ------------------------------4 menu--------------------------------- -->*/
    
    
*{margin:0; padding:0;} li{list-style-type:none;}
#gnb4 {width:900px; height:40px; padding-left:35px; background:#000; margin-left: 0px; }
/*<--! 바깥 쪽 -->
<--! 여긴 안 쪽-->*/
#gnb4 li {float:left;}
#gnb4 li a {float:left; width:150px; height:30px; text-align:center;
			margin-right:20px; background:#ffffff;
			color:#000; font-size: 30px; text-decoration:none; }
#gnb4 li a:hover {background:#ccc; color:#fff;}
#gnb4 li a span {display:block;}
/*<!-- ------------------------------4 menu--------------------------------- -->*/


*{margin:0; padding:0;} li{list-style-type:none;}
#gnb5 {width:400px; height:40px; padding-left:42px; background:#000; margin-left: 270px; }
/*<--! 바깥 쪽 -->
<--! 여긴 안 쪽-->*/
#gnb5 li {float:left;}
#gnb5 li a {float:left; width:150px; height:30px; text-align:center;
			margin-right:20px; background:#ffffff;
			color:#000; font-size: 30px; text-decoration:none; }
#gnb5 li a:hover {background:#ccc; color:#fff;}
#gnb5 li a span {display:block;}
/*<!-- ------------------------------4 menu--------------------------------- -->*/


*{margin:0; padding:0;} li{list-style-type:none;}
#gnb6 {width:230px; height:40px; padding-left:42px; background:#000; margin-left: 350px; }
/*<--! 바깥 쪽 -->
<--! 여긴 안 쪽-->*/
#gnb6 li {float:left;}
#gnb6 li a {float:left; width:150px; height:30px; text-align:center;
			margin-right:20px; background:#ffffff;
			color:#000; font-size: 30px; text-decoration:none; }
#gnb6 li a:hover {background:#ccc; color:#fff;}
#gnb6 li a span {display:block;}
/*<!-- ------------------------------4 menu--------------------------------- -->*/

*{margin:0; padding:0;} li{list-style-type:none;}
#gnb7 {width:950px; height:30px; padding-left:33px; background:#cccccc; margin-left: 90px; }
<!-- 바깥 쪽 -->
<!-- 여긴 안 쪽-->
#gnb7 li {float:left; }
#gnb7 li a {float:left; width:130px; height:30px; text-align:center;
			border-top:10px solid #000000;margin-right:20px; background:#ffffff;
			color:#000; font-size: 16px; text-decoration:none; }
#gnb7 li a:hover {background:#ffffff; color:#4d4d4d;}
#gnb7 li a span {display:block;}
/*<!-- ------------------------------4 menu--------------------------------- -->*/

*{margin:0; padding:0;} li{list-style-type:none;}
#gnb8 {width:950px; height:30px; padding-left:33px; background:#cccccc; margin-left: 150px; }
<!-- 바깥 쪽 -->
<!-- 여긴 안 쪽-->
#gnb8 li {float:left; }
#gnb8 li a {float:left; width:130px; height:30px; text-align:center;
			border-top:10px solid #000000;margin-right:20px; background:#ffffff;
			color:#000; font-size: 16px; text-decoration:none; }
#gnb8 li a:hover {background:#ffffff; color:#4d4d4d;}
#gnb8 li a span {display:block;}
/*<!-- ------------------------------4 menu--------------------------------- -->*/

*{margin:0; padding:0;} li{list-style-type:none;}
#gnb9 {width:800px; height:30px; padding-left:33px; background:#cccccc; margin-left: 220px; }
<!-- 바깥 쪽 -->
<!-- 여긴 안 쪽-->
#gnb9 li {float:left; }
#gnb9 li a {float:left; width:130px; height:30px; text-align:center;
			border-top:10px solid #000000;margin-right:20px; background:#ffffff;
			color:#000; font-size: 16px; text-decoration:none; }
#gnb9 li a:hover {background:#ffffff; color:#4d4d4d;}
#gnb9 li a span {display:block;}
/*<!-- ------------------------------4 menu--------------------------------- -->*/









div.admin{      
        border: 1px solid black;
        text-align:center;
            
    }
/*<!-- ------------------------------공용 메인 사이즈--------------------------------- -->*/   
    .main{
            width: 1400px;
            height: 870px;
            margin-left: 0px;
            margin-top: 200px;
         }
/*------공용 안쪽 공간--------*/
    .mainB{
            width: 1200px;
            margin-left: 100px;
            margin-top: 0px;
            float: left;
            text-align:center;
            color: #000;
            background: #ccc;
        }
/*------공용 메뉴 공간--------*/
    .mainBb{
            width: 1120px;
            height: 40px;
            margin-left: 48px;
            margin-top: 20px;
            float: left;
         
        }
/*------공용 검색 공간--------*/
    .mainSerch{
        width: 300px;
        height: 40px;
        margin-left: 440px;
        float: left;
        background: #fff;
        border-radius: 20px;
     }
    .mainSerch1{
        width: 70px;
        height: 21px;
        margin-left: 9px;
        margin-top: 10px;
        float: left;
        background: #fff;
      
        
    }
    .mainSerch2{
        width: 175px;
        height: 20px;
        margin-left: 0px;
        margin-top: 10px;
        float: left;
        background: #fff;
        
        
    }
    .mainSerch3{
        width: 31px;
        height: 29px;
        margin-left: 0px;
        margin-top: 5px;
        float: left;
        
    }
    #member_button{
        background-image: url(../img/button/button.png);
        width: 29px;
        height: 28px;
    }
/*------공용 페이지, 더보기 공간--------*/
    .memberNum{
        text-align:center;
        width: 300px;
        height: 20px;
        margin-left: 450px;
        margin-top: 20px;
        float: left;
    }
    .memberNum a{
        color: #000;
        font-size: 20px;
    
     }
    .mainBbutton{
        color: #000;
        text-align: right;
        width: 60px;
        height: 25px;
        margin-left: 980px;
        margin-top: 0px; 
        float:left;
        }
    .mainBbutton a{
         color: #000;
        font-size: 20px;
    }
/*------공용 맨 밑 옵션 공간--------*/
    .mainBoption{
        text-align:left;
        width: 900px;
        height: 40px;
        margin-left: 245px;
        margin-top:20px;
        float: left;
     }

/*<!-- ------------------------------전체 회원 페이지 css--------------------------------- -->*/   
/*------안쪽 데이터 공간--------*/
    .mainB2{
            text-align:left;
            font:18px "굴림", Gulim;
            width: 1030px;
            margin-left: 82px;
            margin-top: 20px;
            float: left;
            background: #fff;
    }
/*------전체 회원 데이터--------*/
    .memberDataBcheck{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 20px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberDataBid{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 97px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberDataBname{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 185px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberDataBjoindate{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 120px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberDataBvisitdate{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 177px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberDataBwhite{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 127px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberDataBcoment{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 165px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberDataBvisitcount{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 139px;
            height: 20px;
            float: left;
            background: #fff;
    }
/*<!-- ------------------------------제재 회원 페이지 css--------------------------------- -->*/   
/*------안쪽 데이터 공간--------*/
    .mainB2blind{
            text-align:left;
            font:18px "굴림", Gulim;
            width: 881px;
            margin-left: 170px;
            margin-top: 20px;
            float: left;
            background: #fff;
    }
/*------제재 회원 데이터--------*/
    .memberblindDataBcheck{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 20px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberblindDataBid{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 126px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberblindDataBname{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 136px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberblindDataBre{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 166px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberblindDataBdate{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 146px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberblindDataBenddate{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 145px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberblindDataBadmin{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 142px;
            height: 20px;
            float: left;
            background: #fff;
    }
/*<!-- ------------------------------강퇴 회원 페이지 css--------------------------------- -->*/ 
/*------안쪽 데이터 공간--------*/
    .mainB2forcedblind{
            text-align:left;
            font:18px "굴림", Gulim;
            width: 732px;
            margin-left: 230px;
            margin-top: 20px;
            float: left;
            background: #fff;
    }
/*------제재 회원 데이터--------*/
    .memberforcedblindDataBcheck{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 20px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberforcedblindDataBid{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 97px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberforcedblindDataBname{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 197px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberforcedblindDataBre{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 100px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberforcedblindDataBdate{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 197px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberforcedblindDataBadmin{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 121px;
            height: 20px;
            float: left;
            background: #fff;
    }
/*<!-- ------------------------------스텝 페이지 css--------------------------------- -->*/ 
/*------안쪽 데이터 공간--------*/
    .mainB2Step{
            text-align:left;
            font:18px "굴림", Gulim;
            width: 581px;
            margin-left: 300px;
            margin-top: 20px;
            float: left;
            background: #fff;
    }
/*------스텝 데이터--------*/
    .memberstepDataBcheck{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 20px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberstepDataBid{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 120px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberstepDataBname{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 145px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberstepDataBdate{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 160px;
            height: 20px;
            float: left;
            background: #fff;
    }
    .memberstepDataBgrade{
            text-align:center;
            font:18px "굴림", Gulim;
            width: 136px;
            height: 20px;
            float: left;
            background: #fff;
    }



  

   
    .clear{
            display: none;
            clear: both;
    }
</style>