<style type="text/css">
    
*{margin:0; padding:0;} li{list-style-type:none;}
header {font:20px "굴림", Gulim; margin-left: 150px; margin-top: 0px;}
#gnb {width:1200px; height:40px; padding-left:100px; background:#cccccc; }
/*바깥 쪽 
  여긴 안 쪽*/
#gnb li {display:inline;}
#gnb li a { float:left; width:200px; height:30px; text-align:center;
			border-top:12px solid #000000;margin-right:25px; background:#ffffff;
			color:#666; text-decoration:none; }
#gnb li a:hover {background:#ffffff; color:#000;}
#gnb li a span {display:block;}
/*<--------------------------------1번 메뉴----------------------------------->*/
    

*{margin:0; padding:0;} li{list-style-type:none;}
#gnb2 {width:330px; height:40px; padding-left:20px; background:#cccccc; }
<!-- 바깥 쪽 -->
<!-- 여긴 안 쪽-->
#gnb2 li {float:left;}
#gnb2 li a {float:left; width:90px; height:50px; text-align:center;
			border-top:10px solid #000000;margin-right:20px; background:#ffffff;
			color:#666; text-decoration:none; }
#gnb2 li a:hover {background:#ffffff; color:#000;}
#gnb2 li a span {display:block;}
/*<!-- ------------------------------2번 메뉴--------------------------------- -->*/
    
    
*{margin:0; padding:0;} li{list-style-type:none;}
#gnb3 {width:1075px; height:40px; padding-left:45px; background:#cccccc; }
<!-- 바깥 쪽 -->
<!-- 여긴 안 쪽-->
#gnb3 li {float:left; }
#gnb3 li a {float:left; width:130px; height:30px; text-align:center;
			border-top:10px solid #000000;margin-right:20px; background:#ffffff;
			color:#666; text-decoration:none; }
#gnb3 li a:hover {background:#ffffff; color:#000;}
#gnb3 li a span {display:block;}
/*<!-- ------------------------------4번 메뉴--------------------------------- -->*/
    
    
*{margin:0; padding:0;} li{list-style-type:none;}
#gnb4 {width:550px; height:20px; padding-left:20px; background:#000; margin-left: 0px; }
/*<--! 바깥 쪽 -->
<--! 여긴 안 쪽-->*/
#gnb4 li {float:left;}
#gnb4 li a {float:left; width:90px; height:20px; text-align:center;
			margin-right:20px; background:#ffffff;
			color:#000; text-decoration:none; }
#gnb4 li a:hover {background:#ccc; color:#fff;}
#gnb4 li a span {display:block;}

div{      
        border: 1px solid black;
        text-align:center;
            
    }
 
    .main{
            width: 1200px;
            height: 730px;
            margin-left: 200px;
            margin-top: 50px;
         }
    .mainB{
            width: 1160px;
            height: 686px;
            margin-left: 20px;
            margin-top: 20px;
            float: left;
        }
     .mainBb{
            width: 1120px;
            height: 40px;
            margin-left: 18px;
            margin-top: 20px;
            float: left;
        }
    .mainSerch{
        width: 1120px;
        height: 40px;
        margin-left: 18px;
        float: left;
     }

    .mainB2{
            text-align:left;
            font:18px "굴림", Gulim;
            width: 1055px;
            height: 473px;
            margin-left: 50px;
            float: left;
    }
    .mainBoption{
        text-align:left;
        width: 570px;
        height: 20px;
        margin-left: 270px;
        margin-top: 10px;
        float: left;
     }
    .serchOption{
        margin-top: 10px;
    }
    .memberNum{
        text-align:center;
        width: 300px;
        height: 20px;
        margin-left: 400px;
        margin-top: 10px;
        float: left;
    }
    .clear{
            display: none;
            clear: both;
    }
</style>