<style type="text/css">
    
*{margin:0; padding:0;} li{list-style-type:none;}
header {font:20px "±¼¸²", Gulim; margin-left: 150px; margin-top: 0px;}
#gnb {width:1200px; height:40px; padding-left:100px; background:#cccccc; }
/*¹Ù±ù ÂÊ 
  ¿©±ä ¾È ÂÊ*/
#gnb li {display:inline;}
#gnb li a { float:left; width:200px; height:30px; text-align:center;
			border-top:12px solid #000000;margin-right:25px; background:#ffffff;
			color:#666; text-decoration:none; }
#gnb li a:hover {background:#ffffff; color:#000;}
#gnb li a span {display:block;}
/*<--------------------------------1¹ø ¸Þ´º----------------------------------->*/
    

*{margin:0; padding:0;} li{list-style-type:none;}
#gnb2 {width:330px; height:40px; padding-left:20px; background:#cccccc; }
<!-- ¹Ù±ù ÂÊ -->
<!-- ¿©±ä ¾È ÂÊ-->
#gnb2 li {float:left;}
#gnb2 li a {float:left; width:90px; height:50px; text-align:center;
			border-top:10px solid #000000;margin-right:20px; background:#ffffff;
			color:#666; text-decoration:none; }
#gnb2 li a:hover {background:#ffffff; color:#000;}
#gnb2 li a span {display:block;}
/*<!-- ------------------------------2¹ø ¸Þ´º--------------------------------- -->*/
    
    
*{margin:0; padding:0;} li{list-style-type:none;}
#gnb3 {width:1075px; height:40px; padding-left:45px; background:#cccccc; }
<!-- ¹Ù±ù ÂÊ -->
<!-- ¿©±ä ¾È ÂÊ-->
#gnb3 li {float:left; }
#gnb3 li a {float:left; width:130px; height:30px; text-align:center;
			border-top:10px solid #000000;margin-right:20px; background:#ffffff;
			color:#666; text-decoration:none; }
#gnb3 li a:hover {background:#ffffff; color:#000;}
#gnb3 li a span {display:block;}
/*<!-- ------------------------------4¹ø ¸Þ´º--------------------------------- -->*/
    
    
*{margin:0; padding:0;} li{list-style-type:none;}
#gnb4 {width:550px; height:20px; padding-left:20px; background:#000; margin-left: 0px; }
/*<--! ¹Ù±ù ÂÊ -->
<--! ¿©±ä ¾È ÂÊ-->*/
#gnb4 li {float:left;}
#gnb4 li a {float:left; width:90px; height:20px; text-align:center;
			margin-right:20px; background:#ffffff;
			color:#000; text-decoration:none; }
#gnb4 li a:hover {background:#ccc; color:#fff;}
#gnb4 li a span {display:block;}

div{      
        border: 1px solid black;
        text-align:center;
            
    }
 
    .main{
            width: 1200px;
            height: 730px;
            margin-left: 200px;
            margin-top: 50px;
         }
    .mainA{
            width: 1160px;
            height: 240px;
            margin-left: 20px;
            margin-top: 20px;
        }
        
    .mainA1{
            
            width: 350px;
            height: 240px;
            margin-left: 0px;
            float: left;
         
        }
    
    .mainAa1{
            text-align:left;
            font:18px "±¼¸²", Gulim;
            width: 330px;
            height: 85px;
            margin-left: 10px;
            float: left;
            
        }
    .mainAbutton{
            text-align: right;
            font:20px "±¼¸²", Gulim;
            width: 60px;
            height: 25px;
            margin-left: 260px;
            float: left;
        
        }
    
    .mainA2{
            width: 350px;
            height: 240px;
            margin-left: 52px;
            float: left;
        
        }
    .mainAa2{
            text-align:left;
            font:18px "±¼¸²", Gulim;
            width: 330px;
            height: 85px;
             margin-left: 10px;
           
            float: left;
            
        }
    
    .mainA3{
            width: 350px;
            height: 240px;
            margin-left: 52px;
            float: left;
        }
    .mainAa3{
            text-align:left;
            font:18px "±¼¸²", Gulim;
            width: 330px;
            height: 85px;
            margin-left: 10px;
            float: left;
            
        }
    .mainB{
            width: 1160px;
            height: 423px;
            margin-left: 20px;
            margin-top: 20px;
            float: left;
        }
     .mainBb{
            width: 1120px;
            height: 40px;
            margin-left: 18px;
            margin-top: 20px;
            float: left;
        }
    .mainSerch{
        width: 1120px;
        height: 40px;
        margin-left: 18px;
        float: left;
     }

    .mainB2{
            text-align:left;
            font:18px "±¼¸²", Gulim;
            width: 1055px;
            height: 210px;
            margin-left: 50px;
            float: left;
    }
    .mainBoption{
        text-align:left;
        width: 570px;
        height: 20px;
        margin-left: 270px;
        margin-top: 10px;
        float: left;
     }
    .serchOption{
        margin-top: 10px;
    }
    .memberNum{
        text-align:center;
        width: 300px;
        height: 20px;
        margin-left: 400px;
        margin-top: 10px;
        float: left;
    }
    .mainBbutton{
            font:20px "±¼¸²", Gulim;
            margin-left: 1020px;
            margin-top: 315px;
            width: 60px;
            height: 25px;
          
        }
    .clear{
            display: none;
            clear: both;
    }
</style>