a{
    text-decoration: none;
    /* color: rgba(20,22,84,0.6); */
}

main img{
    width: 350px;
    height: 250px;
}

#container {
    position: relative;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#content {
    position: relative;
    padding: 32px 51px 95px;
    background-color: #fff;
    overflow: hidden;
}

.c_header h2 {
    font-size: 70px;
    color: #c15020;
}
.contxt1{
    font-size: 40px;
    color: #c15020;
}
.contxt2{
    font-size: 20px;
    color: #c15020;
}

table{
    margin-top: 40px;
    width: 100%;
    border: 1px solid #c15020;
}
th{
    vertical-align: middle;
    border: 0.2px solid #c15020;
}
td{
    border: 0.2px solid #c15020;
}

.tdcell{
    position: relative;
    top:5px;
    left: 10px;
}

.blind{
    font-size: 30px;
}
caption{
    margin-bottom: 15px;
}

.thcell{
    text-align: center;
    font-size: 30px;
}

.contxt_tit{
    font-size: 30px;
}

.contxt_tit2, .contxt_desc{
    color: green;
    font-size: 18px;
}

#d_phoneNo{
    margin-top: 40px;
    overflow: hidden;
}

#d_myLetterEmail{
    margin-top: 40px;
    overflow: hidden;
}

#phoneNo{
    width: 200px;
    display: inline-block;
}

.btn_wrap a {
    font-size: 30px;
    position: relative;
    top: 30px;
    color: rgba(20,22,54,0.6);
    margin-right: 20px;
}

.btn_wrap a:hover {
    font-size: 30px;
    position: relative;
    top: 30px;
    color: rgba(220,62,54,1);
    margin-right: 20px;
}

.btn2, .btn3{
	color: rgba(20,22,54,0.6);
}

.btn2:hover, .btn3:hover{
	color: rgba(220,62,54,1);
}