.travel_container{
    width: 1200px;
    position: relative;
    left: 50%;
    margin-left: -600px;
    margin-top: 50px;
}

.content_pictures{
    width: 1200px;
    height: 500px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 7px 5px 10px #aaa;
}
.travel_content{
    width:1200px;
    height:auto;
    overflow: hidden;
    margin-bottom: 30px;
}
.travel_content .content_title{
    width: 1200px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
}

.travel_content .content_content{
    width: 1200px;
    height : auto;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 50px;
    box-shadow: 7px 5px 10px #aaa;
    text-align: center;
    vertical-align: middle;
}
.travel_content .content_content img{
    display: inline-block;
}
.travel_content .content_buttons{
    width: 200px;
    display: inline-block;
    
}