@CHARSET "UTF-8";
/* 여행정보 페이지 */
.travel_main{
	position:relative;
	width:1400px;
	height : 1000px;
	overflow:hidden;
	text-align:center;
}
.travel_main>h1{
	margin-top:30px;
	margin-bottom:30px;
}
.travel_box{
	width:1200px;
	height:auto;
	position:absolute;
	left:50%;
	margin-left:-600px;
}
.travel_box div{
	border : 1px solid  #dcdcdc;
	width : 290px;
	height : 290px;
	margin-right : 10px;
	border-bottom:5px solid #dcdcdc;
	border-right : 3px solid #dcdcdc;
	background-color:white;
	float : left;
	margin-bottom:80px;
}
.travel_box div img{
	width:300px;
	height:200px;
}
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}


/* 여행정보 페이지 카테고리 셀렉트 */
.picture{
	position:relative;
}

.picture .nation_title{
    position : absolute;
    left: 50%;
    margin-left: -76px;
    top: 50%;
    margin-top: -70px;
    z-index: 2;
}
.picture .nation_title h2{
    text-align: center;
    font-size: 60px;
    color: floralwhite;
}
.picture .nation_title h3{
    margin-top: -10px;
    text-align: center;
    font-size: 40px;
    color: floralwhite;
}

div#page_index{
	background-color: #f1f1f1;
	border : 0;
	margin-top:-60px;
	position:relative;
	width : 1200px;
	text-align : center;
	heihgt : 50px;
}
div#page_index ul li{
	display : inline-block;
	margin-right : 60px;
	list-style:none;
}
div#page_index ul li a{
	text-decoration: none;
	color : black;
}

