<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="youngun.tis.travel.blog.mapper.BlogMapper">
	<insert id="insertBlog" parameterType="Blog">
		insert into travelInfors
		values(blog_seq.nextval,#{blogTitle},#{blogContent})
	</insert>
	
	<insert id="insertInfo" parameterType="Blog">
	insert into infomations values(
	trainfo_seq.nextVal,2,#{continentCode},#{nationCode},null,#{blogTitle},#{blogContent},sysdate,#{img},null,0)
	</insert>
	
	<select id="getBlogList" parameterType="string" resultType="Blog">
	select info_num blogNum, member_num memberNum, continent_code continentCode, nation_code nationCode,
	area_code areaCode, info_title blogTitle, info_content blogContent, info_date blogDate, info_img img,
	info_video, info_hits hits from infomations
	where nation_code like #{country}
	order by info_num
	</select>
	
	<select id="getBlogListNoPara" resultType="Blog">
	select info_num blogNum, member_num memberNum, continent_code continentCode, nation_code nationCode,
	area_code areaCode, info_title blogTitle, info_content blogContent, info_date blogDate, info_img img,
	info_video, info_hits hits from infomations
	order by info_num
	</select>
	
	
	<select id="getBlogListContinent" parameterType="string" resultType="Blog" >
		select info_num blogNum, info_title blogTitle, info_img img, nation_code nationCode
		from infomations
		where continent_code like #{continentCode}
		order by info_num
	</select>
	<!-- 조회 수 업데이트 -->
	<update id="updateHits" parameterType="Blog">
		update infomations set info_hits = #{hits} where info_num=#{blogNum} 
	</update>
	<!-- 게시글 수정 -->
	<update id="updateInfo" parameterType="Blog">
		update infomations set info_title = #{blogTitle}, info_content=#{blogContent}, info_img=#{img} where info_num=#{blogNum} 
	</update>
	
	<delete id="deleteBlog" parameterType="Blog">
		delete from infomations where info_num=#{blogNum}
	</delete>
	
	<insert id="insertWish" parameterType="youngun.tis.travel.blog.domain.Wish">
		insert into info_wishlists values(wish_seq.nextval, #{infoNum}, #{memberNum})	
	</insert>
	
	<select id="selectWish" parameterType="int" resultType="youngun.tis.travel.blog.domain.Wish">
		select info_wish_num wishNum, info_num infoNum, member_num memberNum from info_wishlists where member_num = #{memNum} 
	</select>
	
	<delete id="deleteWish" parameterType="youngun.tis.travel.blog.domain.Wish">
		delete from info_wishlists where info_wish_num = #{wishNum}
	</delete>
</mapper>